### Haskell
cabal-dev
cabal.sandbox.config
dist
dist-newstyle

.virtualenv
.hpc
.hsenv
.cabal-sandbox/
.stack-work/

*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.hi
*.hp
*.o
*.prof

### Idea
.idea
*.iml

### Nix
result
.direnv

### Tests
data/tests/gen/*.out.json